
        .container {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;

        }
        .items {
            
            height: 300px;
        }